name = "DPMeansClustering"
uuid = "37097376-7805-5844-a42f-f170eef30b7c"

[deps]
Distances = "b4f34e82-e78d-54a5-968a-f98e89d6e8f7"
NextGenSeqUtils = "59ec5594-ae11-5d8d-a868-831a7e904d88"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
